<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-bind</title>
</head>
<body>
    <!-- v-bind: 设置元素的属性（比如：src，title，class） -->
    <!-- v-bind: 属性名=表达式 -->
    <div id="app">
        <img v-bind:src="imgSrc" alt="">
        <img v-bind:title="imgTitle + '!!!'" alt="">
        <img v-bind:class="{active: isActive}" alt="">
        <img :src="imgSrc" alt="">
        <img :title="imgTitle + '!!!'" alt="">
        <img :class="{active: isActive}" alt="">
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 创建 vue 实例
        var app = new Vue({
            el: "#app",
            data: {
                imgSrc: "图片地址",
                imgTitle: "煞笔程序员",
                isActive: false
            },
            methods: {

            },
        })
    </script>

</body>
</html>
