<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-on指令:为元素绑定事件</title>
</head>
<body>
    <div id="app">
        <input type="button" name="" value="点击" v-on:click="doIt(666, '老铁')">
        <!-- 事件修饰符 -->
        <input type="text" name="" value="" @keyup.enter="sayHi">
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 创建 vue 实例
        var app = new Vue({
            el: "#app",
            data: {
                food: "西蓝花炒蛋"
            },
            methods: {
                doIt: function(p1, p2){
                    alert("做IT: " + p1 + p2);

                },

                sayHi: function(){
                    alert("吃了没")
                }
            },
        })
    </script>

</body>
</html>
