<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-show</title>
</head>
<body>
    <!-- v-show: 根据表达值的真假，切换元素的显示和隐藏 -->
    <div id="app">
        <img src="地址" alt="" v-show="true">
        <img src="地址" alt="" v-show="isShow">
        <img src="地址" alt="" v-show="age>=18">
        <h2 v-show="true">v-show="true"</h2>
        <h2 v-show="isShow">v-show="isShow"</h2>
        <h2 v-show="age>16">v-show="age>16"</h2>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 创建 vue 实例
        var app = new Vue({
            el: "#app",
            data: {
                isShow: true,
                age: 16
            },
            methods: {

            },
        })
    </script>

</body>
</html>
