<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片切换</title>
</head>
<body>
    <!-- v-bind: 设置元素的属性（比如：src，title，class） -->
    <!-- v-bind: 属性名=表达式 -->
    <div class="" id="mask">
        <div id="center">
            <a href="javascript:void(0)" v-show="index!=0" @click="prev">
                <img src="./zuo.jpg" width="50px" alt="">
            </a>
            <img :src="imgArr[index]">

            <a href="javascript:void(0)" v-show="index < imgArr.length - 1" @click="next">
                <img src="./you.jpg" width="50px" alt="">
            </a>
        </div>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 创建 vue 实例
        var app = new Vue({
            el: "#mask",
            data: {
                imgArr: ["./1.jpg", "./2.jpg"],
                index: 0
            },
            methods: {
                prev: function(){
                    this.index--;
                },
                next: function(){
                    this.index++;
                }
            },
        })
    </script>

</body>
</html>
