<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计数器</title>
</head>
<body>
    <div id="app">
        <button type="button" name="button" @click="sub">-</button>
        <span>{{ num }}</span>
        <button type="button" name="button" @click="add">+</button>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 创建 vue 实例
        var app = new Vue({
            el: "#app",
            data: {
                num: 1
            },
            methods: {
                add: function(){
                    if(this.num<10){
                        this.num++;
                    }
                    else{
                        alert("别瞎几把点了！")
                    }
                },
                sub: function(){
                    if(this.num>0){
                        this.num--;
                    }
                    else{
                        alert("小于零了，大傻逼！")
                    }

                }
            },
        })
    </script>

</body>
</html>
