{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/equipment_create.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normal.css')}}">
{% endblock %}
{% block content %}
    <div class="row">
        <div style="margin-top:50px;" class="col-md-9 col-md-offset-1">
            <div class="row">
                <div class="col-md-2">
                    <a onclick="window.history.go(-1)" href="#">返回</a>
                </div>
            </div>
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <span class="big-title">新增设备</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 flex-vertical equipment-create">
                        <form action="{{ url_for('web.equipment_create') }}" method="post">
                            <div class="input-group">
                                <span class="input-group-addon" id="equ_no">设备编号</span>
                                <input name="no" type="text" class="form-control" placeholder="设备编号"
                                       aria-describedby="sizing-addon2">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="equ_no">4G通信模块标识</span>
                                <input name="cm_no" type="text" class="form-control" placeholder="4G通信模块标识"
                                       aria-describedby="sizing-addon2">
                            </div>
                            <div class="input-group">
{#                                <div class="equ_name">#}
                                <span class="input-group-addon" id="equ_name">设备名称</span>
                                <input name="name" type="text" class="form-control" placeholder="设备名称"
                                       aria-describedby="sizing-addon2">
{#                                </div>#}
                            </div>
{#                                <div class="equ_type">#}
                            <div class="input-group">
                                <span class="input-group-addon" id="equ_type">设备类型</span>
                                <select id="select" name="type" class="btn btn-default dropdown-toggle">
                                    <option value="hardware_mold">五金模具</option>
                                    <option value="plastic_mold">注塑模具</option>
{#                                    <option value="type">设备类型</option>#}
                                </select>
{#                                <input name="type" type="text" class="form-control" placeholder="设备类型"#}
{#                                       aria-describedby="sizing-addon2">#}
{#                                </div>#}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="equ_address">设备地址</span>
                                <input name="address" type="text" class="form-control" placeholder="设备地址"
                                       aria-describedby="sizing-addon2">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="equ_producer">制造商</span>
                                <input name="producer" type="text" class="form-control" placeholder="设备制造商"
                                       aria-describedby="sizing-addon2">
                            </div>
{#                            <button style="margin-top: 150px; font-size: 20px" type="button" class="btn btn-primary col-lg-offset-10">提交</button>#}
                            <input style="margin-top: 150px; font-size: 20px" id="btn-submit" type="submit"
                                   class="btn btn-primary col-lg-offset-10" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}