{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
    <div id="customers" class="customer-container">
        <table class="table table-bordered">
{#            <caption>边框表格布局</caption>#}
            <thead>
                <tr>
                    <th>设备编号</th>
                    <th>设备名称</th>
                    <th>设备地址</th>
                    <th>设备温度</th>
                    <th>合模次数</th>
                    <th class="operate">操作</th>
                </tr>
            </thead>
            <tbody>
        {#    {% for customer in customers %}#}
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                    <td>560001</td>
                    <td>560001</td>
                    <td>
                         <button type="button" class="btn btn-primary">修改</button>
                         <button type="button" class="btn btn-primary">删除</button>
                    </td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                    <td>400003</td>
                    <td>400003</td>
                    <td>
                         <button type="button" class="btn btn-primary">修改</button>
                         <button type="button" class="btn btn-primary">删除</button>
                    </td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                    <td>411027</td>
                    <td>411027</td>
                    <td>
                         <button type="button" class="btn btn-primary">修改</button>
                         <button type="button" class="btn btn-primary">删除</button>
                    </td>
                </tr>
        {#    {% endfor %}#}
            </tbody>
        </table>
    </div>

{% endblock %}