{% extends "base.html" %}
{% import "helper.html" as helper %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/equipment_data.css') }}">
{% endblock %}
{% block content %}
    <div class="row search-container">
        <div class="col-lg-6 col-centered">
            <form action="" method="post">
                <div class="input-group">
                    <div class="input-group-btn">#}
                        <select id="select" name="filter_by" class="btn btn-default dropdown-toggle">
                        <option value="no">设备编号</option>
                        <option value="name">设备名称</option>
                        <option value="type">设备类型</option>
                        </select>
                    </div><!-- /btn-group -->
                    <input type="text" name="filter_content" class="form-control" aria-label="...">
                    <span class="input-group-btn">
                        <input  id="btn-submit" type="submit" class="btn btn-default" value="查询">
                    </span>
                </div><!-- /input-group -->
            </form>
        </div><!-- /.col-lg-6 -->
    </div>

    <div id="equipments" class="data-container">
        <table class="table table-bordered">
            {#            <caption>边框表格布局</caption>#}
            <thead>
            <tr>
                <th>ID</th>
                <th>设备编号</th>
                <th>设备类型</th>
                <th>设备名称</th>
                <th>设备温度</th>
                <th>合模次数</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for data in history_data.items %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.no }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.temperature }}</td>
                    <td>{{ data.open_count }}</td>
                    <td>{{ data.datetime }}</td>

    {#                <td>#}
    {#                    <button type="button" class="btn btn-primary">修改</button>#}
    {#                    <button type="button" class="btn btn-primary">删除</button>#}
    {#                </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ helper.render_pagination(history_data, 'web.equipment_data') }}
    </div>



{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        {#// 点击拉下框选项，替换展示内容#}
        {#$(".a-1").click(function () {#}
        {#    var val = $(this).html();#}
        {#    $("#button_text").text(val);#}
        {#    $("#button_text").dropdown('toggle')#}
        {#    mailType = $('#button_text').val();#}
        {#    console.log('233====: ', mailType)#}
        {#{)#}
        {#var mailType = $('.a-1')._value();#}
        {#var rewardId = $('div .input-group #rewardId'+i).val();#}
        {#var rewardNum = $('div .input-group #rewardNum'+i).val();#}
        {#if(( rewardId != "" || undefined != rewardId) && (rewardNum != ""|| undefined != rewardNum)){#}
        {#    var obj = new Object();#}
        {#    obj['type'] = mailType;#}
        {#    obj['id'] = rewardId;#}
        {#    obj['count'] = rewardNum;#}
        {#    rewardArray.push(obj);}#}
    {#$('#select').find('option:first').prop("selected", 'selected');#}
    $('#select').change(function() {
    //一:

    console.log($(this).val());
    //二:
    {#var options=$("#select option:selected");#}
    {#console.log(options.val());#}
     })
    </script>
{#    <script>#}

{#var rowCount = 1;//(资源)行数默认1行#}
{##}
{#//添加资源输入框项#}
{#		  function addCenterIpGrp(obj){#}
{#			rowCount++#}
{#			 html = '<div class="input-group centerIp">'+#}
{#	          '<select id="mailType'+rowCount+'" class="form-control m-b mailType'+rowCount+'" >'+#}
{#	          	'<option value="">请选择</option>'+#}
{#	            '<option value="2">道具</option>'+#}
{#	          	'<option value="4">货币</option>'+#}
{#	          '</select>'+#}
{#	          '<label class="input-group-addon">道具：</label>'+#}
{#	                '<input class="form-control rewardId" type="text" name="rewardId'+rowCount+'" id="rewardId'+rowCount+'" >'+#}
{#	          ' <label class="input-group-addon">数量：</label>'+#}
{#	          		' <input class="form-control rewardNum" type="text" name="rewardNum'+rowCount+'" id="rewardNum'+rowCount+'" >'+#}
{#         	  ' <span class="input-group-btn">'+#}
{#	          		'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delCenterIpGrp"><span class="glyphicon glyphicon-minus"></span></button>'+#}
{#	          ' </span>'+#}
{#	        '</div>'#}
{#		    obj.insertAdjacentHTML('beforebegin',html)#}
{#		  }#}
{##}
{#		  $(document).on('click','#delCenterIpGrp',function(){#}
{#			  var el = this.parentNode.parentNode ;#}
{#			  var centerIp = $(this).parent().parent().find('#ipInput').val() ;#}
{#			   el.parentNode.removeChild(el)#}
{#		})#}
{##}
{#    var rewardArray = new Array();#}
{#for (var i=1; i <= rowCount; i++){#}
{#			var mailType = $('div .input-group .mailType'+i).val();#}
{#			var rewardId = $('div .input-group #rewardId'+i).val();#}
{#			var rewardNum = $('div .input-group #rewardNum'+i).val();#}
{#			if(( rewardId != "" || undefined != rewardId) && (rewardNum != ""|| undefined != rewardNum)){#}
{#				var obj = new Object();#}
{#				obj['type'] = mailType;#}
{#				obj['id'] = rewardId;#}
{#				obj['count'] = rewardNum;#}
{#				rewardArray.push(obj);#}
{#			}#}
{#		}#}
{#		 var rewardsJsonData = JSON.stringify(rewardArray);#}
{#console.log("rewardsJsonData=====: %s", rewardsJsonData)#}
{#    </script>#}
{% endblock %}