{% extends "base.html" %}
{% import "helper.html" as helper %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
    <div id="user" class="col-md-8 col-md-offset-2 user-container">
        <table class="table table-bordered" id="table">
{#            <caption>边框表格布局</caption>#}
            <thead>
                <tr>
                    <th>id</th>
                    <th>昵称</th>
                    <th>邮箱</th>
{#                    <th>邮编</th>#}
{#                    <th class="operate">操作</th>#}
                </tr>
            </thead>
            <tbody>
        {% for user in users.items %}
            <tr id="user">
                <td>{{ user.id }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.email }}</td>
{#                <td>#}
{#                     <button type="button" class="btn btn-primary">修改</button>#}
{#                     <button type="button" class="btn btn-primary">删除</button>#}
{#                </td>#}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {{ helper.render_pagination(users, 'web.index') }}
    </div>


{% endblock %}
